.product-image:hover .info {
	transform: translateX(0);
}
.product-image:hover img {
	transition: all 0.3s ease-out;
}
.product-image:hover img {
	transform: scale(1.2, 1.2);
}
.swiper {
	padding-bottom: 50px !important;
}
.swiper-pagination-bullet {
	background-color: #0891b2 !important;
	opacity: 0.5 !important;
	width: 10px !important;
	height: 10px !important;
}
.swiper-pagination-bullet-active {
	opacity: 1 !important;
}
