@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap");
@import url("http://fonts.cdnfonts.com/css/himagsikan");
@layer components {
	.myContainer {
		@apply container mx-auto px-6 py-14;
	}
	.centerAll {
		@apply flex flex-col justify-center items-center;
	}
	.sectionPrimary {
		@apply bg-white dark:bg-gray-900 py-5;
	}
	.sectionSecondary {
		@apply bg-gray-100 dark:bg-gray-800 py-5;
	}
	.text-intro {
		@apply text-gray-900 dark:text-gray-100 text-4xl font-semibold;
	}
	.text-high {
		@apply text-gray-900 dark:text-gray-100;
	}
	.text-medium {
		@apply text-gray-700 dark:text-gray-200;
	}
	.text-low {
		@apply text-gray-500 dark:text-gray-400;
	}
	.text-lowest {
		@apply text-gray-400 dark:text-gray-500;
	}
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
}
h1 {
	font-family: "Kdam Thmor Pro", sans-serif;
}
.smallGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	column-gap: 2px;
	row-gap: 20px;
}
.largeGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
	column-gap: 2px;
	row-gap: 20px;
}
/* .swiper-btn-prev{
    color:red !important;
}
.swiper-btn-next{
    color:red !important;
} */