@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

@layer components {
	.myContainer {
		@apply container px-6 mx-auto py-14;
	}
	.centerAll {
		@apply flex flex-col items-center justify-center;
	}
	.center-row {
		@apply flex flex-row items-center justify-center;
	}
	.sectionPrimary {
		@apply py-5 bg-white dark:bg-gray-900;
	}
	.sectionSecondary {
		@apply py-5 bg-gray-100 dark:bg-gray-800;
	}
	.text-intro {
		@apply text-2xl font-semibold text-gray-900 dark:text-gray-100 sm:text-4xl;
	}
	.text-high {
		@apply text-gray-900 dark:text-gray-100;
	}
	.text-medium {
		@apply text-gray-700 dark:text-gray-200;
	}
	.text-light {
		@apply text-gray-500 dark:text-gray-400;
	}
	.text-lightest {
		@apply text-gray-400 dark:text-gray-500;
	}
}
html,
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Staatliches', cursive;
}
.smallGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	column-gap: 2px;
	row-gap: 20px;
}
@media only screen and (max-width: 640px) {
	.smallGrid {
		grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
		row-gap: 10px;
	}
}

.swiper {
	padding-bottom: 50px !important;
}
.swiper-pagination-bullet {
	background-color: #0891b2 !important;
	opacity: 0.5 !important;
	width: 10px !important;
	height: 10px !important;
}
.swiper-pagination-bullet-active {
	opacity: 1 !important;
}

.marquee {
	mask-image: linear-gradient(
		var(--mask-direction, to right),
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 1) 20%,
		hsl(0 0% 0% / 1) 80%,
		hsl(0 0% 0% / 0)
	);
}

.marquee__group {
	animation: scroll-x 60s linear infinite;
}

.marquee--reverse .marquee__group {
	animation-direction: reverse;
	animation-delay: -3s;
}

@keyframes scroll-x {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - 1rem));
	}
}
